<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <title>Log Risk Prediction</title>
</head>
<body>
    <h1>Log Data Risk Prediction</h1>
    <textarea id="logData" rows="10" cols="50"></textarea><br>
    <button onclick="submitLogData()">Submit</button>
    <p id="predictionResult"></p>

    
    <script src="{% static 'main/js/predict.js' %}" type="text/javascript"></script>
    

</body>
</html>